---
layout: base
---

{% include organism.header.html %}
<div id="content">
{{ content }}
</div>

<section id="partners" class="o-row s-theme-white">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="u-hidden-visually">Partners</h2>
    <ul class="o-layout o-layout--middle">
      <li class="o-layout__item u-1/3 u-1/5@small u-1/7@medium">
        <a href="https://nerdlab.be" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/nerdlab.jpg" alt="Nerdlab logo" class="c-partner">
          <span class="u-hidden-visually">Nerdlab</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/5@small u-1/7@medium">
        <a href="http://resocbrugge.be" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/resoc.jpg" alt="Resoc logo" class="c-partner">
          <span class="u-hidden-visually">Resoc</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/5@small u-1/7@medium">
        <a href="https://www.brugge.be" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/brugge.jpg" alt="Brugge logo" class="c-partner">
          <span class="u-hidden-visually">Brugge</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/5@small u-1/7@medium">
        <a href="https://turbo.be" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/turbo.jpg" alt="Turbo logo" class="c-partner">
          <span class="u-hidden-visually">Turbo</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/5@small u-1/7@medium">
        <a href="http://republiekbrugge.be/" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/republiek.jpg" alt="Republiek logo" class="c-partner">
          <span class="u-hidden-visually">Republiek</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/5@small u-1/7@medium">
        <a href="https://www.ocwest.be/nl/brugge/over-ons https://www.startandgo.be" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/ocbrugge.jpg" alt="OC Brugge logo" class="c-partner">
          <span class="u-hidden-visually">OC Brugge</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/5@small u-1/7@medium">
        <a href="https://www.startandgo.be" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/pom.jpg" alt="OC Brugge logo" class="c-partner">
          <span class="u-hidden-visually">Start and Go</span>
        </a>
      </li>
    </ul>
  </div>
</section>

{% include organism.footer.html %}
